<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PiShot Master</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app" class="main">
        <div class="header" v-cloak>
            <div class="logo">PiShot</div>
            <div class="nav">
                <div @click="view = 'devices'" class="nav-item">Devices</div>
                <div @click="view = 'shutter'" class="nav-item">Shutter</div>
            </div>
        </div>
        <div class="content" v-cloak>
            <div class="devices" v-if="view == 'devices'">
                <button class="ui red button" :class="{loading: loadingDevices}" @click="reloadDevices">
                    <i class="redo icon"></i> Refresh
                </button>
                <button @click="rebootDevices" class="ui blue button"><i class="bomb icon"></i> Reboot</button>
                {% raw %}
                <a class="ui black circular label">
                    {{ pis.length }}
                </a>
                {% endraw %}

                <table class="ui celled table">
                    <thead>
                      <tr><th>Name</th>
                      <th>IP</th>
                      <th>Actions</th>
                    </tr></thead>
                    <tbody>
                      {% raw %}
                      <tr v-for="pi in pis">
                        <td data-label="Name">{{ pi.name }}</td>
                        <td data-label="IP">
                            {{ pi.ip }}
                            <button @click="cpip('ssh pi@' + pi.ip)" class="circular ui icon button mini orange">
                                <i class="icon copy"></i>
                            </button>
                        </td>
                        <td>
                            <button @click="viewPi(pi)" class="ui icon button">
                                View
                            </button>
                            <button @click="rebootDevice(pi)" class="ui icon button">
                                Reboot
                            </button>
                        </td>
                      </tr>
                      {% endraw %}
                    </tbody>
                  </table>
            </div>

            <div class="viewer" v-if="view == 'view'">
                <div class="view-head">
                    <button class="ui icon green button" @click="view = 'devices'">
                        <i class="angle left icon"></i>
                    </button>
                    <button class="ui icon button" @click="requestViewFrame">
                        <i class="camera icon"></i>
                    </button>
                    {% raw %}
                    <h3>{{ currentViewPi.name }}</h3>
                    {% endraw %}
                </div>
                <div class="viewport" :style="{ backgroundImage: `url(${vf})` }">
                    <div class="onionVf" :style="{ backgroundImage: `url(${onionVf})` }"></div>
                </div>
                <div class="view-head">
                    {% raw %}
                    <div>
                        Onion Skin:
                        <select v-model="onion" class="ui search dropdown">
                            <option value="">None</option>
                            <option :value="pi.uuid" v-for="pi in pis">{{ pi.name }}</option>
                        </select>
                    </div>
                    {% endraw %}
                </div>
            </div>

            <div class="shutter" v-if="view == 'shutter'">
                <button class="ui primary button" @click="openShutter">
                    Open Shutter
                </button>
                <button class="ui red button" @click="closeShutter">
                    Close Shutter
                </button>
                <button class="ui orange button" @click="download">
                    Download Data
                </button>
                <div class="ui active inline small loader" v-if="shutterLoading"></div>
                <br>

                {% raw %}
                <h3 v-if="currentSave != ''">Saved to: {{ currentSave }}</h3>
                {% endraw %}
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
